body {
  margin: 10px;
}

header {
  text-align: center;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgba(61, 80, 175),
    rgba(34, 20, 85)
  );
  padding: 10px;
  margin-bottom: 50px;
}

